apiVersion: networking.istio.io/v1beta1
kind: VirtualService
metadata:
  name: {{serviceName}}
  namespace: {{namespace}}
  labels:
    {{labelKey}}: {{labelValue}}
spec:
  hosts:
  - {{serviceName}}
  http:
  - rewrite:
      uri: "{{prefix}}"
    route:
    - destination:
        host: {{serviceName}}
        port:
          number: {{servicePort}}
